<!--
商户会存在批发商品的情况

批发编号 批发对象  批发商品名称   批发数量（整）  批发数量（零） 结账情况（结清、未结清）  单价 总价 批发时间

近一年批发总额    近半年批发总额     本年批发总额   本季批发总额  本月批发总额
-->
<row>
    <div class="col-xm-12 col-sm-6 col-md-4 col-lg-3">
        近一年批发总额
    </div>
    <div class="col-xm-12 col-sm-6 col-md-4 col-lg-3">
        近半年批发总额
    </div>
    <div class="col-xm-12 col-sm-6 col-md-4 col-lg-3">
        本年批发总额
    </div>
    <div class="col-xm-12 col-sm-6 col-md-4 col-lg-3">
        本季批发总额
    </div>
    <div class="col-xm-12 col-sm-6 col-md-4 col-lg-3">
        本月批发总额
    </div>
</row>
<row>
    <button class="btn btn-success btn_addWholesaleList">新建批发单</button>
</row>