<nav class="navbar navbar-inverse navbar-fixed-top head">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">某某企业综合管理平台<span class="logo-rounded">免费版V1.0</span></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">个人中心</a></li>
        <li><a href="#">帮助</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
      </form>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="leftRegion col-sm-3 col-md-2 sidebar mt-20 p-0" style="background:#99CC66; ">
    </div>
    <div class="rightRegion col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main sidebar mt-20 pltb-10 pr-20">
    </div>
  </div>
</div>
