<div class="row m0" style="display: none;">
  <div class="col-md-8 p-0">
    <input type="text" class="form-control" style="border-radius: 0px;padding: 0px;"
           placeholder="您可以通过输入商品编号、商品名称进行搜索"/>
  </div>
  <div class="col-md-1 p-0">
    <button class="btn btn-success form-control" style="border-radius: 0px;padding: 0px;">搜索</button>
  </div>
</div>
<div class="row m0 mt-10 purchaseRegion">
  <div class="col-md-1 p-0">
    <button class="btn btn-success form-control purchaserole" style="border-radius: 0px;padding: 0px;">采购人1</button>
  </div>
  <div class="col-md-1 p-0">
    <button class="btn btn-default form-control purchaserole" style="border-radius: 0px;padding: 0px;">采购人2</button>
  </div>
  <div class="col-md-1 p-0">
    <button class="btn btn-default form-control purchaserole" style="border-radius: 0px;padding: 0px;">采购人3</button>
  </div>
  <div class="col-md-1 p-0">
    <button class="btn btn-default form-control purchaserole" style="border-radius: 0px;padding: 0px;">采购人4</button>
  </div>
  <div class="col-md-1 p-0">
    <button class="btn btn-default form-control purchaserole" style="border-radius: 0px;padding: 0px;">采购人5</button>
  </div>
</div>
</div>

<div class="row m0 mt-10 purchaseRegion">
  <div class="col-md-1 p-0">
    <button class="btn btn-success form-control btn_addGood" data-toggle="modal" data-target="#myModal" style="border-radius: 0px;padding: 0px;">添加商品</button>
  </div>
</div>

<div class="row m0 mt-10 goodListRegion">

</div>


