<div class="row m0" style="display: none;">
  <div class="col-md-8 p-0">
    <input type="text" class="form-control" style="border-radius: 0px;padding: 0px;"
           placeholder="您可以通过输入商品编号、商品名称进行搜索"/>
  </div>
  <div class="col-md-1 p-0">
    <button class="btn btn-success form-control" style="border-radius: 0px;padding: 0px;">搜索</button>
  </div>
</div>
<div class="row m0 mt-10 purchaseRegion">
  <div class="col-md-1 p-0">
    <button class="btn btn-success form-control settlement" status="0" style="border-radius: 0px;padding: 0px;">进行中</button>
  </div>
  <div class="col-md-1 p-0">
    <button class="btn btn-default form-control settlement" status="1" style="border-radius: 0px;padding: 0px;">付款中</button>
  </div>
  <div class="col-md-1 p-0">
    <button class="btn btn-default form-control settlement" status="2" style="border-radius: 0px;padding: 0px;">未结清</button>
  </div>
  <div class="col-md-1 p-0">
    <button class="btn btn-default form-control settlement" status="3" style="border-radius: 0px;padding: 0px;">已结清</button>
  </div>
</div>
</div>
<div class="row m0 mt-10 settlementRegion">

</div>


