<div class="row mr-50">
  <div class="col-md-3 p-0">

  </div>
  <div class="col-md-5 p-0">
    <input type="text" class="form-control" style="border-radius: 0px;padding: 0px;"
           placeholder="您可以通过输入商品编号、商品名称进行搜索"/>
  </div>
  <div class="col-md-1 p-0">
    <button class="btn btn-success form-control" style="border-radius: 0px;padding: 0px;">搜索</button>
  </div>
</div>
<div class="row mr-50 mt-20">
  <div class="panel panel-success">
    <div class="panel-heading p-0 mb-20 r0" style="height: 35px;">
      <div class="col-md-6 p-0 mb-20">
        <div class="col-md-1 btn btn-default r0">
          <i class="fa fa-plus btn_addgood"></i>
        </div>
      </div>
      <div class="col-md-6 p-0">
        <div class="col-md-1 btn btn-default r0 pull-right"><i class="fa fa-table"></i></div>
        <div class="col-md-1 btn btn-default r0 pull-right"><i class="fa fa-angle-right"></i></div>
        <div class="col-md-1 btn btn-default r0 pull-right"><i class="fa fa-angle-left"></i></div>

      </div>
    </div>
    <div class="panel-body goodListRegion">
    </div>
  </div>
</div>
